.position-title {
	margin-left: -14px;
	font-weight: bold;
	font-size: 200%;
}

.work-company{
	margin-left: -14px;
	font-size: 120%;
	color: #828282;
}

.work-date {
	float: right;
	font-weight: bold;
	font-size: 200%;
}

.skill-text-p {
	margin-top: 20px;
	font-size: 24px;
}

.skill-chart-col {
	margin-top: -45px;
    margin-left: -5px;
}

.project-content {
	width: 90%;
}

.hidden-fancybox {
	display: none;
}

.syc-display {
	width: 50%;
}